@{
    ViewBag.Title = "The Joel Hilton Film Collection";
    ViewBag.Head = "Film Collection";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <br />
    <img src="~/img/JoelHilton.jpg" />
    <br />
    <br />
    <form method="post" asp-action="Films">
        <button type="submit" class="btn btn-primary">Click Here to View Films</button>
    </form>
</div>
